/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
_ide_helper.php
.idea/*

/public/css
/public/js
.tags
.tags_sorted_by_file
.babelrc
